<header class='colour-theme__bg_primary'>
	<span>
		<a class='colour-theme__font_secondary' href='{{ url_for("homePage") }}'>Logo</a>
	</span>

	<span>
		{% if room %}
			{{ room.owner }}'s Room
		{% else %}
			TODO: better title
		{% endif %}
	</span>

	<span>
		{% if current_user.is_authenticated %}
			<a class='colour-theme__font_secondary' href='{{ url_for("showUserProfile", username=current_user.username) }}'>{{ current_user.username }}</a>
		{% else %}
			<a class='colour-theme__font_secondary' href='{{ url_for("loginPage") }}'>Log In</a>
		{% endif %}
	</span>
</header>
