{% extends 'components/common.html' %}

{% block title %}About{% endblock %}

{% block head %}
	<link href='/static/about.css' rel='stylesheet'>
{% endblock %}

{% block body %}
	<div class='container'>
		<div class='TODO text-block'>
			<h2>About</h2>
			<img src='/static/img/about.jpg'>
			<p>
				Hi! My name is Michael. Thank you for visiting my personal Void, I hope you enjoy it :^)
			</p>
			<p>
				I'm a software development and infosec enthusiast, a college graduate in web and multimedia application development.
			</p>
			<p>
				And another.
			</p>
		</div>
	</div>
{% endblock %}

