{% extends 'components/common.html' %}

{% block title %}
	Listen to music with your friends!
{% endblock %}

{% block body %}
	<div class='custom-container'>
		<form class='input-form' method='POST' action='/'>
			<div class='core__after input-group input-group-lg colour-theme_input-group'>
				<input class='form-control core__radius colour-theme_input' name='username' placeholder='YOUR NAME' type='text' maxlength='32'>
			</div>

			<div class='core__after input-group input-group-lg colour-theme_input-group'>
				<input class='form-control core__radius colour-theme_input' name='room_code' placeholder='4-DIGIT CODE' type='text' minlength='4' maxlength='4'>
			</div>
			<div class='core__after input-group input-group-lg'>
				<button class='btn btn-lg core__after core__radius colour-theme_footer'>Join</button>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<script src='/static/js/websockets.js' type='module'></script>

	<script src='/static/js/home.js' type='module'></script>
{% endblock %}
