{% extends 'components/common.html' %}

{% block title %}Log In{% endblock %}

{% block head %}
 	<link href='/static/css/home.css' rel='stylesheet'>
	{% if wrong_credentials %}
		<link href='/static/css/wrong_credentials.css' rel='stylesheet'>
	{% endif %}
{% endblock %}

{% block body %}
		<form class='TODO input-form' method='POST' action='/login'>
			Username
			<input name='username' type='text' maxlength='32'>
			Password
			<input name='password' type='password'>
			<input type='submit' value='Login'>
			<sub>Don't have an acccount yet? <a href='/signup'>Sign up</a></sub> 
		</form>
{% endblock %}
