{% extends 'components/common.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block head %}
	<link href='/static/css/profile.css' rel='stylesheet'>
{% endblock %}

{% block body %}
	<div class='statistics'>
		{% for key, value in user.items() %}
			<b>{{ key }}: </b> {{ value }}<br>
		{% endfor %}
	</div>
	{% if current_user.username == user.username %}
		<div class='manage'>
			<form method='GET' action='/logout'>
				<button>Log out</button>
			</form>
		</div>
	{% endif %}
{% endblock %}
