{% extends 'components/common.html' %}

{% block title %}
	{{ room.owner }}'s Room
{% endblock %}

{% block head %}
	<link href='/static/css/room.css' rel='stylesheet'>
	<link href='/static/fonts/fontello/css/fontello.css' rel='stylesheet'>
{% endblock %}

{% block body %}
	<div class='room-layout'>
		<!-- SEARCH -->
		<div id='search' class='room__cell'>
			<form id='search__form'>
				<div class='input-group flex-nowrap'>
					<input id='search__input' class='form-control' type='text'>
					<button class='btn btn-outline-secondary' type='button'>Search</button>
				</div>
			</form>
			<div id='search__results'></div>
		</div>

		<!-- INFO TABLE -->
		<div id='info' class='TODO room__cell'>
			<span class='info__code'>
				<span id='room_code' class='todo'>{{ room.code }}</span>
				<button class='btn'>Copy</button>
			</span>
			<table id='members_table' class=''>
				<thead>
					<tr>
						<th>Members</th>
					</tr>
				</thead>
				<tbody>
					<!--
					<tr>
						<td>{{ room.owner }}</td>
					</tr>
					-->
					{% for member in room.members %}
						<tr>
							<td>{{ member }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- MUSIC CONTROLS -->
		<div id='controls' class='TODO room__cell'>
			<div class='controls__title'>
				<span>
					<span id='title'><b>...</b> &mdash; ...</span>
					<button class='btn' onclick='alert("copied!")'>Copy</button>
				</span>
				<span id='duration' class='player__duration'>--:--</span>
			</div>
			<div id='progress' class='controls__progress'>
				<div></div>
				<div id='progressBar'></div>
			</div>
			<div class='controls__buttons'>
				<button id='repeatBtn' class='btn'><i class='icon-repeat'></i></button>
				<button id='prevBtn' class='btn'><i class='icon-next reverse'></i></button>
				<button id='playBtn' class='btn'><i class='icon-play'></i></button>
				<button id='pauseBtn' class='btn'><i class='icon-pause'></i></button>
				<button id='nextBtn' class='btn'><i class='icon-next'></i></button>
				<button id='shuffleBtn' class='btn'><i class='icon-shuffle'></i></button>
			</div>
		</div>

		<!-- PLAYLIST -->
		<div id='playlist' class='TODO room__cell' style='border: 3px solid red;'>
			{% for track in room.playlist %}
				<div id='{{ track.source_name }}-{{ track.source_id }}' class='playlist__track'>
					<i class='btn core__after core__radius icon-play'></i>
					<span class='title'>
						<span><b>{{ track.author }}</b></span>
						<span>{{ track.name }}</span>
					</span>
					<span class='duration'>
						({{ track.duration_seconds // 60 }}:{{ track.duration_seconds - track.duration_seconds // 60 * 60 }})
					</span>
				</div>
			{% endfor %}
		</div>
	</div>

	{% block scripts %}
		<script>
			var playlist_obj = {{ room.playlist | tojson() }};
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
		<script src='/static/js/websockets.js' type='module' charset='utf=8'></script>

		<script src='/static/js/search.js' type='module'></script>

		<script src='/static/js/info.js' type='module'></script>

		<script src='/static/js/player.js' type='module'>
		</script>
	{% endblock %}
{% endblock %}
