{% extends 'components/common.html' %}

{% block title %}
	{{ room.owner }}'s Room
{% endblock %}

{% block head %}
	<link href='/static/css/room.css' rel='stylesheet'>
	<link href='/static/fonts/fontello/css/fontello.css' rel='stylesheet'>
{% endblock %}

{% block body %}
	<div class='room-layout'>
		<!-- SEARCH -->
		<div id='search' class='TODO room__cell'>
			<form id='search__form'>
				<div class='input-group flex-nowrap'>
					<input id='search__input' class='form-control' type='text'>
					<button class='btn btn-outline-secondary' type='button'>Search</button>
				</div>
			</form>
			<div id='search__results'>

			</div>
		</div>

		<!-- MEMBERS TABLE -->
		<div id='info' class='TODO room__cell'>
			members table
			<h1 id='info__code' class='todo'>Room {{ room.code }}</h1>
			<table id='info__table' class='TODO'>
				<thead>
					<tr>
						<th>Members</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ room.owner }}</td>
					</tr>
					{% for member in room.members %}
						<tr>
							<td>{{ member }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- MUSIC CONTROLS -->
		<div id='player' class='TODO room__cell'>
			<div class='player__title'>
				<span>
					<span id='title'><b>Author</b> &mdash; Song Name</span>
					<button id='copyBtn' class='btn player__copy'>Copy</button>
				</span>
				<span id='duration' class='player__duration'>mm:ss</span>
			</div>
			<div class='player__progress'>
				<hr>
			</div>
			<div class='player__controls'>
				<button id='repeatBtn' class='btn'><i class='icon-repeat'></i></button>
				<button id='prevBtn' class='btn'><i class='icon-next reverse'></i></button>
				<button id='playBtn' class='btn'><i class='icon-play'></i></button>
				<button id='pauseBtn' class='btn'><i class='icon-pause'></i></button>
				<button id='nextBtn' class='btn'><i class='icon-next'></i></button>
				<button id='shuffleBtn' class='btn'><i class='icon-shuffle'></i></button>
			</div>
		</div>

		<!-- PLAYLIST -->
		<div id='playlist' class='TODO room__cell' style='border: 3px solid red;'>
			playlist
		</div>
	</div>

	{% block scripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
		<script src='/static/js/websockets.js' type='module' charset='utf=8'></script>

		<script src='/static/js/search.js' type='module'></script>

		<script src='/static/js/info.js' type='module'></script>

		<script src='/static/js/player.js'></script>
	{% endblock %}
{% endblock %}
