{% extends 'components/common.html' %}

{% block title %}Where Am I?{% endblock %}

{% block head %}
	<link href='/static/css/about.css' rel='stylesheet'>
{% endblock %}

{% block body %}
	<div class='TODO container'>
		<div class='text-block'>
			<h2>Where Am I?</h2>
			<p>
				Have you ever seen those websites which let you gather with your friends online and watch a movie together? Now, to be fair, it's not like I conducted any kind of research regarding this, but I always wondered why isn't there such a website for listening to music? 
			</p>
			<p>
				The very first occurance of this project's idea settled down in my head at one of the parties with my friends. Everyone wants their tracks to be played, the speaker supports voice control and only one bluetooth connection at a time, so you'd either have to keep track of the live "queue" of the tracks or bother the person whom the bluetooth control over the speaker was given up to with your requests. That was quite a pain, and I thought how handy it would be to have a way for everyone at the party to queue up their wanted tracks with less effort. 
			</p>
			<p>
				<b>Meet &mdash; <u>The Void</u>!</b> The design and concept are very much inspired by jackbox.tv: I функционал легкость джекбокса 
			</p>
		</div>

		<div class='text-block'>
			<h2>Another Header</h2>
			<p>lololololololo</p>
		</div>
	</div>
{% endblock %}
