<div class='room-layout'>
	<!-- SEARCH -->
	<div id='search' class='TODO room__cell'>
		search bar
		<form id='form'>
			<div class='input-group flex-nowrap'>
				<input class='form-control' id='input' type='text'>
				<button class='btn btn-outline-secondary' type='button'>Search</button>
			</div>
		</form>
		<div id='query_results'></div>
	</div>

	<!-- MEMBERS TABLE -->
	<div id='members_list' class='TODO room__cell'>
		members table
		<h1 class='todo'>Room {{ room.code }}</h1>
		<table class='TODO'>
			<thead>
				<tr>
					<th>Members</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ room.owner }}</td>
				</tr>
				{% for member in room.members %}
					<tr>
						<td>{{ member }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!-- MUSIC CONTROLS -->
	<div id='controls' class='TODO room__cell'>
		<div id='song-title'><b>Song Name</b> &mdash; Author</div>
		<button id='copy-button' class='controls__copy'>Copy</button>
		<span class='controls__duration'>mm:ss</span>
		<hr class='controls__progress'>
		<div class='controls__buttons'>
			<button class=''><i class='icon-repeat'></i></button>
			<button>Prev</button>
			<button>Pause</button>
			<button>Next</button>
			<button>Shuffle</button>
		</div>
	</div>

	<!-- PLAYLIST -->
	<div id='playlist' class='TODO room__cell' style='border: 3px solid red;'>
		playlist
	</div>
</div>
