:root {
	--primary-bg: #CCE992;
	--primary-font: #654C4F;

	--secondary-bg: #FED4D5;
	--secondary-font: #B1898A;

	--accent-bg: #FED4D5;
	--accent-font: #B1898A;

	--background-color: white;
}

.core__after::after {
	filter: blur(3px);
}
