footer {
	display: none;
}

.core__after::after {
	inset: -6px;
}

.room-layout {
	display: grid;
	min-width: 100%;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(10, 10%);
}


.room-layout > div {
	padding: 1rem;	
}

/* --- SEARCH BAR --- */
#search, #form {
	position: relative;
}

#search input {
	border: 2px solid;
	border-radius: 999em 0 0 999em;
	border-right: 2px solid;
}

#search button {
	border: 2px solid;
	border-radius: 0 999em 999em 0;
	border-left: 1px solid;
}

#query_results {
	border: 1px solid blue;
	background-color: white;
	position: absolute;
	bottom: 0;
	right: 1rem;
	left: 1rem;
	z-index: 2;
}

.track-query-option:hover {
	background-color: #F0F0F0;
}

/* --- INFO TABLE --- */
#info {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.info__code {
	display: inline-block;
}

.info__code button {
	vertical-align: middle;
}
#room_code {
	vertical-align: middle;
	font-size: 2em;
}

#room_code::before {
	content: '#';
}

#members_table {
	border-collapse: collapse;
}

#members_table th {
	border: 3px solid blue;
	border-radius: 999em 999em 0 0;
	border-collapse: collapse;
}

#member_table tbody {
	border: 3px solid green;
}

/* --- PLAYER --- */
@font-face {
      font-family: 'fontello';
      src: url('/static/fonts/fontello/font/fontello.eot?17836729');
      src: url('/static/fonts/fontello/font/fontello.eot?17836729#iefix') format('embedded-opentype'),
           url('/static/fonts/fontello/font/fontello.woff?17836729') format('woff'),
           url('/static/fonts/fontello/font/fontello/fontello.ttf?17836729') format('truetype'),
           url('/static/fonts/fontello/font/fontello/fontello.svg?17836729#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}

.controls__progress {
	position: relative;
}

.controls__progress hr {
	position: relative;
	height: 3px;
	color: black;
}

.controls__progress::before {
	position: absolute;
	left: 0;
	height: 3px;
	background-color: black;
	width: 35%;
	content: '';
}

.controls__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.controls__buttons {
	display: flex;
	justify-content: space-between;
}

.controls__buttons button {
	background: none;
}

.controls__buttons i {
	font-size: 1.8rem;
}

.controls__buttons i.active::before {
	color: blue;
}

.controls__buttons i.reverse::before {
	transform: scale(-1, 1);
}

/* --- PLAYLIST --- */
.playlist__track {
	cursor: pointer;
}

.playlist__track span, 
.playlist__track i
{
	vertical-align: baseline;	
}

.playlist__track i {
	padding: 0 !important;
	position: relative;
	margin: 6px;
}

.playlist__track i::before {
	margin: 3px;
}


/* --- ADAPTIVENESS --- */
#search {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
}

#info {
	grid-column: 4 / span 1;
	grid-row: 1 / span 4;
}

#controls {
	grid-column: 1 / span 2;
	grid-row: 3 / span 2;
}

#playlist {
	grid-column: 1 / span 4;
	grid-row: 5 / span 6;
}



@media (max-width: 850px) {
	#search {
		grid-column: 1 / span 3;
		grid-row: 1 / span 1;
	}

	#info {
		grid-column: 4 / span 1;
		grid-row: 1 / span 4;
	}

	#controls {
		grid-column: 1 / span 3;
		grid-row: 3 / span 2;
	}

	#playlist {
		grid-column: 1 / span 4;
		grid-row: 5 / span 6;
	}
}



@media (max-width: 600px) {
	#search {
		grid-column: 1 / span 4;
		grid-row: 1 / span 1;
	}

	#info {
		display: none;
	}

	#controls {
		grid-column: 1 / span 4;
		grid-row: 9 / span 2;
	}

	#playlist {
		grid-column: 1 / span 4;
		grid-row: 3 / span 5;
	}
}
